@page
@model webappli_ben_taleb_badreddine.Pages.AproposModel
@{
    ViewData["Title"] = "A propos";
}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="~/Image/prfl.jpg" alt="Photo de Badreddine Ben Taleb" class="img-fluid rounded-circle" style="max-width: 200px;">
        </div>
        <div class="col-md-8">
            <h2>Badreddine Ben Taleb</h2>
            <p>4ème année de cycle d'ingénieur à l'EMSI Tanger</p>
            <p>Étudiant en Génie Informatique</p>
            <p>Passionné par la créativité, le travail d'équipe et la résolution de problèmes informatiques.</p>
          
            <p>
                

                <a href="https://www.linkedin.com/in/badreddine-ben-taleb-420602172/" target="_blank">LinkedIn</a> |
                <a href="https://github.com/BadreddineBenTaleb" target="_blank">GitHub</a> |
              
            </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <h3>Formation</h3>
            <ul>
                <li>Attestation du BACCALAUREAT (2016/2017)</li>
                <li>Deust en Mathématique-Informatique-Physique (2019/2020)</li>
                <li>Licence Génie Informatique (2020/2021)</li>
                <li><h6>Formations linguistiques:</h6> Anglais (American Language Center) et Français (Institut Français Tanger)</li>
            </ul>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <h3>Compétences</h3>
            <p>Créativité, Travail en équipe, Sens de responsabilités, Capacité à travailler sous pression et à gérer le stress</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <h3>Expériences Professionnelles</h3>
            <p><strong>Mini Projet : Espace Étudiant</strong> (12/2020 - 02/2021) - FST Tanger</p>
            <p>Réalisation d’un site statique et dynamique pour présenter des produits en ligne avec descriptions et prix.</p>
            <p><strong>Projet : Système de gestion des transports (TMS, Transportation Management System)</strong> (01/03/2021 – 30/06/2021) - STG Maroc</p>
            <p>Réalisation d’un logiciel permettant la gestion des opérations de transport.</p>
        </div>
    </div>
</div>
