@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Placher expert";
}
<div class="container mt-5">
    <h1 class="mb-4">Politique de confidentialité</h1>

    <p>
        Chez Plancher Expert, nous nous engageons à protéger votre vie privée. Notre politique de confidentialité explique comment nous recueillons, utilisons et protégeons vos informations personnelles.
    </p>
    </div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h2>Collecte d'informations</h2>
            <p>
                Nous collectons des informations lorsque vous visitez notre site Web, remplissez un formulaire ou passez une commande. Ces informations peuvent inclure votre nom, votre adresse e-mail, votre adresse postale, etc.
            </p>
        </div>

        <div class="col-md-6">
            <h2>Utilisation des informations</h2>
            <p>
                Les informations que nous collectons peuvent être utilisées pour personnaliser votre expérience, traiter vos transactions, vous envoyer des promotions par e-mail, etc.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Protection des informations</h2>
            <p>
                Nous mettons en œuvre une variété de mesures de sécurité pour préserver la sécurité de vos informations personnelles. Nous ne vendons, n'échangeons ni ne transférons vos informations à des tiers.
            </p>
        </div>

        <div class="col-md-6">
            <h2>Consentement</h2>
            <p>
                En utilisant notre site, vous consentez à notre politique de confidentialité.
            </p>
        </div>
    </div>
</div>

