@page
@model webappli_ben_taleb_badreddine.Pages.demandeModel

@{
    ViewData["Title"] = "Couvre Plancher";
}
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col">
            <h2>Liste des Produits</h2>
            <a class="btn btn-success btn-sm" href="/Couvreplancher/create">Creer une nouvelle couvre plancher</a>

        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Prix</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Remplacez ces lignes par vos données réelles depuis votre modèle ou votre backend -->
                    @foreach (var item in Model.ListCouvrePlancher)
                    {
                        <tr>

                            <td>@item.id</td>
                            <td>@item.Type</td>
                            <td>@item.Materiaux</td>
                            <td>@item.MainOeuvre</td>

                            <td>

                                <a class="btn btn-success btn-sm" href="/Couvreplancher/edit?id=@item.id">Modifier</a>
                                <a class="btn btn-success btn-sm" href="/Couvreplancher/Delete?id=@item.id">Supprimer</a>
                               
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy7W8qVbT+6QQWOc71I2eaOqCgg5eT5n6Z"
        crossorigin="anonymous"></script>
