html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.container1 {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.contact-form {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

button.btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.contact-info {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .contact-info ul {
        list-style: none;
        padding: 0;
    }

    .contact-info li {
        margin-bottom: 10px;
    }
/* styles.css */


.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}



.section-title {
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

.btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
}

.info-list {
    list-style: none;
    padding: 0;
}

    .info-list li {
        margin-bottom: 10px;
    }

.contact-info figure {
    text-align: center; /* Pour centrer l'image */
}

.contact-info img {
    max-width: 100%; /* Pour que l'image ne dépasse pas de sa boîte parente */
    margin-top: 10px; /* Ajoutez une marge au-dessus de l'image pour l'espacement */
}
